parameters:
    paths:
        - src/
    level: max
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false